@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
    font-family: 'SourceCodePro';
    src: url('/src/assets/font/SourceCodePro-VariableFont_wght.ttf');
}
@theme{
    --font-primary: 'SourceCodePro', sans-serif;
}
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
